<section class="hero">
  <div class="hero__container">
    <%= image_tag('hero-image.PNG') %>
    <div class="hero__message">
      <h1 class="hero-title">
        Your Ultimate Style Destination!
      </h1>

      <p class="subtitle">
        Experience fashion that truly embodies your unique style. 
        At Kram Clothing, we curate a collection that resonates with your individuality. 
        From everyday essentials to standout pieces, we're where fashion meets you. 
        Discover the perfect blend of comfort, quality, and self-expression. 
        Elevate your wardrobe today with Kram Clothing.
      </p>
    </div>
  </div>
</section>
